{% extends "proyecto/plantilla_login.html" %}
{% load static %}
{% block contenido %}
<title>Restablecer contraseña</title>

<section class="home">
    <div class="open-overlay">
        <span class="bar-top"></span>
        <span class="bar-middle"></span>
        <span class="bar-bottom"></span>
    </div>
    <!--clase centrada-->
    <div class="row center-xs">
        <div class="mision">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="color:#ecf0f1">Restablecer contraseña</legend>
                    {{ form }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Restablecer contraseña</button>
                </div>
            </form>
        </div>
    </div>

</section>
{% endblock contenido %}