{% extends "proyecto/plantilla_login.html" %}
{% load static %}
{% block contenido %}
<div class="overlay-navigation">
    <nav role="navigation">
        <ul>
            <li><a href="{% url 'inicio'%}">Inicio</a></li>
            <li><a href="{% url 'proyecto:quienes_somos'%}">Quienes somos</a></li>
            <li><a href="{% url 'proyecto:mision'%}">Misión</a></li>
            <li><a href="{% url 'login' %}">Ingresar</a></li>
            <li><a href="{% url 'proyecto:contacto'%}">Contactenos</a></li>
        </ul>
    </nav>
</div>
<section class="home">
    <div class="open-overlay">
        <span class="bar-top"></span>
        <span class="bar-middle"></span>
        <span class="bar-bottom"></span>
    </div>
    <div class="row">
        <div class="mision">
            <div class="alert alert-info">
                Tu contraseña fue cambiada.
            </div>
            <a class="btn btn-primary" href="{% url 'login' %}">Inicia sesion aqui</a>
        </div>
    </div>
</section>
{% endblock contenido %}