{% extends "proyecto/plantilla_contacto.html" %}
{% load static %}
{% block contenido %}
<div class="overlay-navigation">
    <nav role="navigation">
        <ul>
            <li><a href="{% url 'inicio'%}">Inicio</a></li>
            <li><a href="{% url 'proyecto:quienes_somos'%}">Quienes somos</a></li>
            <li><a href="{% url 'proyecto:mision'%}">Misión</a></li>
            <li><a href="{% url 'login' %}">Ingresar</a></li>
            <li><a href="{% url 'proyecto:contacto'%}">Contactenos</a></li>
        </ul>
    </nav>
</div>
<section class="home">
    <div class="open-overlay">
        <span class="bar-top"></span>
        <span class="bar-middle"></span>
        <span class="bar-bottom"></span>
    </div>
    <div class="content-section">
        <div class="row">
            <div class="mision">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Restablecer contraseña</legend>
                                {{ form }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Restablecer contraseña</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}