{% extends 'proyecto/plantilla_login_inicio.html' %}

{% load static %}
{% block contenido %}
<title>Pagina Network</title>

<div >
  <nav class="navbar navbar-default navbar-dark" role="navigation" style="background-color:#27ae60;" >
   
      <!-- en la etiqueta nav el color de fondo es style="background-color"(a esta etiqueta se le puede cambiar el color a gusto)-->
      <ul class="nav nav-pills"  > 
        {% if user.is_authenticated %}
        <li class="nav-item"><h4 style="color:#ecf0f1">{{user.username}}</h4></li>
    {% else %}
    <li class="nav-item"><a class="nav-link " href="{% url 'login' %}"style="color:#ecf0f1">Ingresar</a></li>
    {% endif %}
          <!-- en la etiqueta li para cambiar el color de texto se debe modificar lo que esta dentro de style="color:ColorModificable" para los textos-->
          <li class="nav-item"><a class="nav-link " href="{% url 'inicio'%}"style="color:#ecf0f1">Inicio</a></li>
          <li class="nav-item"><a class="nav-link " href="{% url 'proyecto:quienes_somos'%}"style="color:#ecf0f1">Quienes somos</a></li>
          <li class="nav-item"><a class="nav-link " href="{% url 'proyecto:mision'%}"style="color:#ecf0f1">Misión</a></li>

          <li class="nav-item"><a class="nav-link " href="{% url 'proyecto:contacto'%}"style="color:#ecf0f1">Contactenos</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'API:index'%}"style="color:#ecf0f1">Registro de Rutinas</a></li>
          <li class="nav-item"><a class="nav-link"href="{% url 'proyecto:nutricionista'%}" style="color:#ecf0f1"></a>Nutricionista</li>
          {% if request.user.is_authenticated %}
          <li class="nav item"><a class="nav-link" href="/logout">Cerrar Sesion</a></li>
          {% endif %}
         
        </ul>
  </nav>
</div>



<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static '../static/proyecto/img/levanta.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block">
              
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static '../static/proyecto/img/imagen3.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
             
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static '../static/proyecto/img/imagen2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
              
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
</div>
<div class="row main">
      <div class="col-xs-12 col-sm-4 no-xs"></div>
      <div class="col-xs-12 col-sm-4 no-xs"><h2 class=" centrar texto-blanco">¿QUIENES SOMOS?</h2></div>
      <img class=rotulo2 src="{% static '../static/proyecto/img/icon.jpg'  %}">
        
      <div class="col-xs-12 col-sm-4">
        <div class="row center-xs">
        </div>
      </div>
</div>





<div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-6 texto-left margin-top-xs">
        <h3>¿Que es networks?</h3>
          <p>Somos un gimmnasio comprometidos , con los gimmnastas que busca ayudarlos con sus rutinas diarias y Una dieta equilibrada , a la vez contamos con una aplicacion del gimmacio
            Se trata de una de las aplicaciones de entrenador personal más valoradas en la Play Store. Tiene una interfaz muy intuitiva y fácil de utilizar, con vídeos que explican cada ejercicio en español. En cuanto a las rutinas, se ajustan a cada persona según sus características, capacidad y objetivo y se pueden moldear según vas avanzando. Cuenta con ejercicios para hacer tanto en el gimnasio, como en casa o incluso al aire libre. ¡No te vas a aburrir!

Sus rutinas suelen durar entre 7 y 50 minutos, según el tiempo que tengas. Eso sí, aunque puedes probar varios de sus programas y sus ejercicios de manera gratuita, deberás pagar si la quieres utilizar completamente.
          </p>
          <img src="{% static 'Quienes somos/img_quienes_somos/6ConcejosBasicos.png' %}" width="500" alt="">
        </div>
        <br>
        <div class="col-xs-12 col-sm-6 centrar margin-200  ">
          <h3></h3>
          <img src="{% static 'Quienes somos/img_quienes_somos/empresas.png' %}" width="400" alt="">
        </div>
      </div>
</div>

<div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-6 texto-derecha margin-top-xs">
        <h3>Rutinas</h3>
        <img src="{% static '../static/proyecto/img/rutina2.jpg' %}" width="400" alt="">
          <p>En Networks te puedes entrenar ,  networks gym y a la vez tenemos una aplicacion para que el usuario interactue con ella Pueda seguir sus Rutinas como Actividad con pesas , sentadillas  ,etc</p>
          <button class="boton">Leer más</button>
          
        </div>
        <br>
        <div class="col-xs-12 col-sm-6 margin-top-xs ">
              
          
          <h3>Nutricionistas </h3>
          <img src="{% static '../static/proyecto/img/nutricionista2.jpg' %}" width="400" alt="">
          <p> Ademas Contamos con Nutricionista profesionales , que podran acoNsejar a los gimnastas para sobrellevar una dieta equilibrada y Saludable  </p>
          <button class="boton">Leer más</button>
        </div>
      </div>
</div>



{% endblock contenido %}