{% extends 'pagina/base.html' %}
{% block contenido %}
{% load static %}
<br><br><br>
<div class="Rutina">
	{% for result in results %}
		<h3>{{result.nombreRutina}}</h3>
		<br>
		Name:{{result.iidRutina}}
		<br>
		
			
		</p>
		<hr>
	{% endfor %}
</div>
{% endblock %}