{%extends 'proyecto/plantilla_contacto.html'%}

{% load static %}
{% block contenido %}
<div >
    <nav class="navbar navbar-default navbar-dark" role="navigation" style="background-color:#27ae60;" >
        <!-- en la etiqueta nav el color de fondo es style="background-color"(a esta etiqueta se le puede cambiar el color a gusto)-->
        <ul class="nav nav-pills"  >
            <!-- en la etiqueta li para cambiar el color de texto se debe modificar lo que esta dentro de style="color:ColorModificable" para los textos-->
            <li class="nav-item"><a class="nav-link " href="{% url 'inicio'%}"style="color:#ecf0f1">Inicio</a></li>
            <li class="nav-item"><a class="nav-link " href="{% url 'proyecto:quienes_somos'%}"style="color:#ecf0f1">Quienes somos</a></li>
            <li class="nav-item"><a class="nav-link " href="{% url 'proyecto:mision'%}"style="color:#ecf0f1">Misión</a></li>
            <li class="nav-item"><a class="nav-link " href="{% url 'login' %}"style="color:#ecf0f1">Ingresar</a></li>
            <li class="nav-item"><a class="nav-link " href="{% url 'proyecto:contacto'%}"style="color:#ecf0f1">Contactenos</a></li>
        </ul>
    </nav>
  </div>

<section class="home">
    <div class="open-overlay">
        <span class="bar-top"></span>
        <span class="bar-middle"></span>
        <span class="bar-bottom"></span>
    </div>
    <div class="row center-xs">
        <div class="mision">
            <div class="card">
                <h5 class="card-header"> Datos de Contacto </h5>
                <div class="card-body">
                    <form action="{% url 'proyecto:contacto'%}" method="GET" id="contacto">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" name="nombre" placeholder="Ingrese su nombre">
                        </div>
                        <div class="form-group">
                            <label for="email">Correo</label>
                            <input type="email" class="form-control" name="email" placeholder="Ingrese su correo">
                        </div>
                        <div class="form-group">
                            <label for="comentario">Comentarios</label>
                            <textarea name="comentario" rows="3" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <img class=rotulo2 src="{% static '../static/proyecto/img/imagen2.jpg'  %}">

</section>

{% endblock contenido %}