{%extends 'proyecto/plantilla_registro.html'%}

{% load static %}
{% block contenido %}
<title>Editar Usuarios</title>
<div class="overlay-navigation">
    <nav role="navigation">
        <ul>
            <li><a href="{% url 'proyecto:inicioUsuarios'%}">Inicio</a></li>
            <li><a href="{% url 'proyecto:listarUsuarios'%}">Usuarios</a></li>
            <li><a href="{% url 'proyecto:listarNutricionista'%}">Nutricionista</a></li>
            <li><a href="{% url 'proyecto:listarRutinas'%}">Rutinas</a></li>
            <li><a href="{% url 'logout' %}">Salir</a></li>
        </ul>
    </nav>
</div>

<section class="home">
    <div class="open-overlay">
        <span class="bar-top"></span>
        <span class="bar-middle"></span>
        <span class="bar-bottom"></span>
    </div>
    <div class="row center-xs">
        <div class="mision">
            <form method="POST">
                <div id="formulario">
                    <h1> REGISTRO </h1>
                </div>
                {% csrf_token %}
                {% if error %}
                <h2>{{error}}</h2>
                {% else %}
                <div id="tabla-formulario">
                    {{form.Rut.label}}
                    {{form.Rut}}

                    {{form.Username.label}}
                    {{form.Username}}

                    {{form.Last_name.label}}
                    {{form.Last_name}}

                    {{form.Email.label}}
                    {{form.Email}}

                    {{form.Password.label}}
                    {{form.Password}}

                    {{form.Username.label}}
                    {{form.Username}}

                    

                </div>
                <button name="registro" type="submit" id="button"> Guardar </button>
                {% endif%}
            </form>
        </div>
    </div>

</section>

{% endblock contenido %}