{%extends 'proyecto/plantilla_login.html'%}

{% load static %}
{% block contenido %}
<title>Listado de Usuarios</title>
<div class="overlay-navigation">
    <nav role="navigation">
        <ul>
            
            <li><a href="{% url 'proyecto:listarUsuarios'%}">Usuarios</a></li>
            <li><a href="{% url 'proyecto:listarNutricionista'%}">Nutricionistas</a></li>
            <li><a href="{% url 'proyecto:listarRutinas'%}">Rutinas</a></li>
            <li><a href="{% url 'logout' %}">Salir</a></li>
        </ul>
    </nav>
</div>
<section class="home">
    <div class="open-overlay">
        <span class="bar-top"></span>
        <span class="bar-middle"></span>
        <span class="bar-bottom"></span>
    </div>

    <div class="row ">
        <div class="mision">
            <div class="tabla">
                <section class="sectiontabla">
                    <h1>Usuarios</h1>
                    <div class="tbl-header">
                        {% if usuarios %}
                        <table cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Rut</th>
                                    <th>Username</th>
                                    <th>First Name</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                {% for usuarios in usuarios %}
                                <tr>
                                    <td>{{usuarios.rut}}</td>
                                    <td>{{usuarios.first}}</td>
                                    <td>{{usuarios.email}}</td>
                                    <td>{{usuarios.username}</td>
                                    <td>{{usuarios.password</td>
                                    <td>
                                        <a class="btn btn-primary" href="{% url 'proyecto:editarNutricionista' usuario.rut %}">Editar</a>
                                        <a class="btn btn-primary" href="{% url 'proyecto:eliminarRutina' usuario.rut %}">Elimnar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h1>No hay usuarios registrados</h1>
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}