{%extends 'proyecto/plantilla_Rutinas.html'%}

{% load static %}
{% block contenido %}
<title>Listado de Nutricionista</title>
<div class="overlay-navigation">
    <nav role="navigation">
        <ul>
            <li><a href="{% url 'proyecto:inicioUsuarios'%}">Inicio</a></li>
            <li><a href="{% url 'proyecto:listarUsuarios'%}">Usuarios</a></li>
            <li><a href="{% url 'proyecto:listarNutricionista'%}">Nutricionista</a></li>
            <li><a href="{% url 'proyecto:listarRutinas'%}">Rutinas</a></li>
            <li><a href="{% url 'logout' %}">Salir</a></li>
        </ul>
    </nav>
</div>
<section class="home">
    <div class="open-overlay">
        <span class="bar-top"></span>
        <span class="bar-middle"></span>
        <span class="bar-bottom"></span>
    </div>

    <div class="row ">
        <div class="mision">
            <div class="tabla">
                <section class="sectiontabla">
                    <h1>Nutricionista</h1>
                    <div class="form-group">
                        <a href="{% url 'proyecto:agregarRutina' %}" class="btn btn-primary">AgregarNutricionista</a>
                    </div>
                    <div class="tbl-header">
                        {% if Nutricionista %}
                        <table cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id Nutricionista</th>
                                    <th>NombreRutinas</th>
                                    <th>Opcion</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                {% for Nutricionista in Nutricionista %}
                                <tr>
                                    <td>{{Nutricionista.IdNutricionista}}</td>
                                    <td>{{Nutricionista.NombreRutinas}}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{% url 'proyecto:editarRutinas' rutinas.IdRutinas %}">Editar</a>
                                        <a class="btn btn-primary" href="{% url 'proyecto:eliminarRutinas' rutinas.IdRutinas %}">Elimnar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h1>No hay Rutinas registradas</h1>
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}