{%extends 'proyecto/plantilla_login.html'%}

{% load static %}
{% block contenido %}
<title>Inicio Sesión</title>


<section class="home">
    <div class="open-overlay">
        <span class="bar-top"></span>
        <span class="bar-middle"></span>
        <span class="bar-bottom"></span>
    </div>
    <div class="row center-xs">
        <div class="mision">
            <div class="row-center">
                <div class="content-wrapper login align-self-md-center ">
                    <form method="POST">
                        {% csrf_token %}
                        <h1 class="text-center page-title"style="color:#ecf0f1">Iniciar Sesión</h1>
                        <div class="form-group ">
                            <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> -->
                            {{form.username}}
                        </div>
                        <div class="form-group">
                            <!-- <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password"> -->
                            {{form.password}}
                        </div>
                        <button type="submit" class="btn-lg btn-primary center-block log-in" >Iniciar Sesión</button>
                    </form>
                    <p class="text-center" style="color:aliceblue">No tienes una cuenta? <a href="{% url 'proyecto:registro'%}" class="btn btn-primary">Registrarse</a></p>
                    <p class="text-center">
                        <a class="btn btn-primary" href="{% url 'password_reset' %}">Olvidaste la contraseña?</a>
                    </p>
                </div>
            </div>
        </div>
</section>
{% endblock contenido %}