{% load static%}

<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nuestra Mision</title>
<link rel="icon"  type="Mision/img_mision" href="{% static 'Mision/img_mision/icon.jpg'%}">
<link rel="stylesheet" href="{% static '../css/bootstrap.css' %}">
    <link rel="stylesheet" href=" {% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css ">
    <link rel="stylesheet" href=" {% static 'Mision/css/Mision.css' %}">

</head>

<body>
    {% include 'inicio.html' %}


    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% else %} alert-danger {% endif %} ">
                <button type="button" class="close" data-dismiss="alert">x</button>
                    {{ message }}
             </div>              
        {% endfor %}
               
    {% endif %}
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static '../static/proyecto/Mision/img_mision/imagen2.jpg' %}" class="d-block w-100" alt="...">
                  <div class="carousel-caption  d-md-block">
                        
                    
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{% static '../static/proyecto/Mision/img_mision/imagen3.jpg' %}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-md-block">
                       
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{% static '../static/proyecto/Mision/img_mision/gym.jpg' %}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-md-block">
                        
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
    </div>
       

<div class="row main">
    <div class="col-xs-12 col-sm-4 no-xs"></div>
    <div class="col-xs-12 col-sm-4 no-xs"><h2 class=" centrar texto-blanco">!Entrenate y saca tu maximo potencial!</h2></div>
    <div class="col-xs-12 col-sm-4">
      <div class="row center-xs">
        
      </div>
    </div>
</div>


<div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-6 texto-left margin-top-xs">
      <h3>Conoce nuestra aplicacion</h3>
       <video controls autoplay >
      
        <source  src="{% static '../static/proyecto/video/GYM.mp4' %}" type="video/mp4"/>

       </video> 
      </div>
      <br>
      <div class="col-xs-12 col-sm-6 centrar margin-200   ">
        <h3>Proposito</h3>
        <p>Creamos Networks con el proposito de ayudar a nuestros usuarios a mejorar sus habilidades y rendimiento fisico .</p>
        <p>
          Networks conciste en una aplicacion que evalua a los usuarios registrados en nuestro sistemas, que les proporcionara rutinas , 
         los gimnastas seran sometidos a diversas rutinas que realizaran para poder mantener un buen estado fisico y Alimentacion equilibrada.
          
        </p>
        <img class=rotulo2 src="{% static '../static/proyecto/Mision/img_mision/rutina2.jpg'  %}">
        
        
      </div>
    </div>
</div>

<div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-6 texto-derecha margin-top-xs">
          <h3>Ejercicios Basicos para realizar :</h3>
          <p>1. Para empezar, elige una máquina de ejercicios cardiovasculares (como la trotadora o la elíptica) e intenta permanecer allí durante 20 a 25 minutos o el tiempo que te parezca posible.</p>
          <p>2. tres rondas de sentadillas de caja, estocadas, elevaciones de pantorrilla y puentes de glúteos. ¡Es una excelente iniciación para trabajar esos grupos musculares!</p>
          <p>3.Durante tus primeras visitas al gimnasio, simplemente concéntrate en familiarizarte con el equipo y en determinar una cadencia que te sirva.</p>
          <p>4. Mejorar la calidad de vida de las comunidades a través de su filosofía del ejercicio, programas y productos y de inculcar en la vida de las personas de todo el puerto el valor de la salud y el ejercicio.</p>
          <p>5.Ser el gimnasio líder brindando bienestar a nuestros miembros y en general a la población, generando valor a nuestra empresa, a nuestros colaboradores y a nuestra comunidad.</p>
          
      </div>
      <br>
      <div  class="col-xs-12 col-sm-6 margin-top-xs   " >
        <h3>Patrocinador</h3>
        <img class=rotulo src="{% static 'Mision/img_mision/rutina1' %}" alt="">
        <h1></h1>
        <img  class=rotulo3  src="{% static 'Mision/img_mision/pesas' %}"  alt="">
          
          

      </div>
    </div>
</div>





<div class="bg-jerts-white-10" data-reactid="195"><hr data-reactid="196">
  <div data-reactid="197">
    <div class="layout" style="padding:0 32px 80px 32px;" data-reactid="198">
      <div class="layout__item one-half portable-one-whole" data-reactid="199">
        <p data-reactid="200">© 2015 Networks Inc.</p>
      </div>
    <div class="layout__item one-half portable-one-whole" data-reactid="201">
      <table style="width:100%;" data-reactid="202">
        <tbody style="border-collapse:collapse;border:0;" data-reactid="203">
          <tr style="border-collapse:collapse;border:0;" data-reactid="204">
            <td style="display:table-cell;padding:0px;margin:0;background:inherit;padding-right:15px;width:25%;" data-reactid="205"><a href="#" data-reactid="206">Privacidad</a></td><td style="display:table-cell;padding:0px;margin:0;background:inherit;padding-right:15px;width:25%;" data-reactid="207"><a href="#" data-reactid="208">Términos</a></td><td style="display:table-cell;padding:0px;margin:0;background:inherit;padding-right:15px;width:50%;" class="hidden--desk-and-up" data-reactid="209">&nbsp;</td></tr></tbody></table></div></div></div></div>






        
   

</body>
<!--JS FILES-->
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script src=" {% static 'js/jquery.validate.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

  
</div>


</html>