{%extends 'proyecto/plantilla_Rutinas.html'%}
{% load static %}
{% block contenido %}
<title>Listado Rutinas</title>
<div class="overlay-navigation">
    <nav role="navigation">
        <ul>
            <li><a href="{% url 'proyecto:inicioUsuario'%}">Inicio</a></li>
            <li><a href="{% url 'proyecto:listarUsuarios'%}">Usuario</a></li>
            <li><a href="{% url 'proyecto:listarNutricionista'%}">Nutricionistas</a></li>
            <li><a href="{% url 'proyecto:listarRutinas'%}">Rutinas</a></li>
            <li><a href="{% url 'logout' %}">Salir</a></li>
        </ul>
    </nav>
</div>
<section class="home">
    <div class="open-overlay">
        <span class="bar-top"></span>
        <span class="bar-middle"></span>
        <span class="bar-bottom"></span>
    </div>

    <div class="row ">
        <div class="mision">
            <div class="tabla">
                <section class="sectiontabla">
                    <h1>Rutinas</h1>
                    <div class="form-group">
                        <a href="{% url 'proyecto:agregarRutina' %}" class="btn btn-primary">Agregar Rutina</a>
                    </div>
                    <div class="tbl-header">
                        {% if rutinas %}
                        <table cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>IdRutina</th>
                                    <th>NombreRutina</th>
                                    <th>Opcion</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                {% for rutina in rutina %}
                                <tr>
                                    <td>{{rutina.idRutina}}</td>
                                    <td>{{rutina.nombreRutina}}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{% url 'proyecto:editarRutinas' rutina.idRutina %}">Editar</a>
                                        <a class="btn btn-primary" href="{% url 'proyecto:eliminarRutinas' rutina.idRutina %}">Eliminar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h1>No hay rutinas registradass</h1>
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}