<!doctype html>
<html lang="es-cl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'proyecto/css/flexboxgrid.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">  
    <link rel="stylesheet" href="{% static 'proyecto/css/img-size.css' %}">



</head>

<body >
    <div  >
        <nav class="navbar navbar-default navbar-dark " role="navigation" style="background-color:#27ae60;" >
            <!-- en la etiqueta nav el color de fondo es style="background-color"(a esta etiqueta se le puede cambiar el color a gusto)-->
            <ul class="nav nav-pills"  >
                <!-- en la etiqueta li para cambiar el color de texto se debe modificar lo que esta dentro de style="color:ColorModificable" para los textos-->
                <li class="nav-item"><a class="nav-link " href="{% url 'inicio'%}"style="color:#ecf0f1">Inicio</a></li>
                <li class="nav-item"><a class="nav-link " href="{% url 'proyecto:quienes_somos'%}"style="color:#ecf0f1">Quienes somos</a></li>
                <li class="nav-item"><a class="nav-link " href="{% url 'proyecto:mision'%}"style="color:#ecf0f1">Misión</a></li>
                <li class="nav-item"><a class="nav-link " href="{% url 'login' %}"style="color:#ecf0f1">Ingresar</a></li>
                <li class="nav-item"><a class="nav-link " href="{% url 'proyecto:contacto'%}"style="color:#ecf0f1">Contactenos</a></li>
            </ul>
        </nav>
    </div>
    {% block contenido %}

    {% endblock contenido %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'proyecto/js/jquery-3.4.1.js'%}"></script>
    <script src="{% static 'proyecto/js/jquery.validate.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
 

</body >

</html>