{% extends 'proyecto/plantilla_quienes.html' %}

{% load static %}
{% block contenido %}
<title>Quienes Somos</title>
<div >
  <nav class="navbar navbar-default navbar-dark" role="navigation" style="background-color:#27ae60;" >
      <!-- en la etiqueta nav el color de fondo es style="background-color"(a esta etiqueta se le puede cambiar el color a gusto)-->
      <ul class="nav nav-pills"  >
          <!-- en la etiqueta li para cambiar el color de texto se debe modificar lo que esta dentro de style="color:ColorModificable" para los textos-->
          <li class="nav-item"><a class="nav-link " href="{% url 'inicio'%}"style="color:#ecf0f1">Inicio</a></li>
          <li class="nav-item"><a class="nav-link " href="{% url 'proyecto:quienes_somos'%}"style="color:#ecf0f1">Quienes somos</a></li>
          <li class="nav-item"><a class="nav-link " href="{% url 'proyecto:mision'%}"style="color:#ecf0f1">Misión</a></li>
          <li class="nav-item"><a class="nav-link " href="{% url 'login' %}"style="color:#ecf0f1">Ingresar</a></li>
          <li class="nav-item"><a class="nav-link " href="{% url 'proyecto:contacto'%}"style="color:#ecf0f1">Contactenos</a></li>
      </ul>
  </nav>
</div>



<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static '../static/proyecto/img/gym.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block">
              
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static '../static/proyecto/img/imagen3.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
             
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static '../static/proyecto/img/imagen2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
              
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
</div>
<div class="row main">
      <div class="col-xs-12 col-sm-4 no-xs"></div>
      <div class="col-xs-12 col-sm-4 no-xs"><h2 class=" centrar texto-blanco">¿QUIENES SOMOS?</h2></div>
      <div class="col-xs-12 col-sm-4">
        <div class="row center-xs">
        </div>
      </div>
</div>





<div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-6 texto-left margin-top-xs">
        <h3>Acerca de nosotros</h3>
          <p>Somos un gimmnasio comprometidos , con los gimmnastas que busca ayudarlos con sus rutinas diarias y Una dieta equilibrada , a la vez contamos con una aplicacion del gimmacio</p>
          <img src="{% static 'Quienes somos/img_quienes_somos/6ConcejosBasicos.png' %}" width="500" alt="">
        </div>
        <br>
        <div class="col-xs-12 col-sm-6 centrar margin-200  ">
          <h3>Networks</h3>
          <img src="{% static 'Quienes somos/img_quienes_somos/empresas.png' %}" width="400" alt="">
        </div>
      </div>
</div>

<div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-6 texto-derecha margin-top-xs">
        <h3>Empresa</h3>
          <p>en Networks te puedes entrenar , en networks gym y a la vez tenemos una aplicacion para que el usuario interactue con ella </p>
          <button class="boton">Leer más</button>
          
        </div>
        <br>
        <div class="col-xs-12 col-sm-6 margin-top-xs ">
              
          
          <h3>Gimnasio </h3>
          <p>.En el gimnasio tenemos las herramientas necesarias para entrenarte</p>
          <button class="boton">Leer más</button>
        </div>
      </div>
</div>



{% endblock contenido %}