
{% extends 'proyecto/plantilla_registro.html'%}

{% load static %}
{% block contenido %}

<title>Registro de Usuario</title>
<div class="container">
    <h2 class="form-register-heading">Registrarse</h2>
        <div class="form-group">
           
            
            
        </div>
        <form method="post" action="" class="form-register">
            {% csrf_token %}
            
            <input type="text" class="form-control" name="rut"
            placeholder="Ingrese Rut">
            <input type="text" class="form-control" name="nombre"
            placeholder="Ingrese nombre">
            <input type="text" class="form-control" name="apellido"
            placeholder="Ingrese apellido">
            <input type="text" class="form-control" name="usuario"
            placeholder="Ingrese Usuario"> 
            <input type="password" class="form-control" name="password"
            placeholder="Ingrese Contraseña">
            <input type="text" class="form-control" name="email" 
            placeholder="Correo">
              {% if form.errors %}
                <div class="alert alert-danger">Check the red fields.</div>  
            {% endif %}
          
            {% for field in form %}
                {{ field }}
            {% endfor %}
          
            <button type="submit" class="btn btn-danger fuente-form">Registrarse</button>
            <a href="{% url 'inicio' %}" class="btn btn-danger" id="btn-volver">Volver</a>
    </form>
</div>

{% endblock contenido %}