{%extends 'proyecto/plantilla_Rutinas.html'%}

{% load static %}
{% block contenido %}
<div class="overlay-navigation">
        <nav role="navigation">
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'logout' %}">Salir</a></li>
            </ul>
        </nav>
    </div>
    <section class="home">
        <div class="open-overlay">
            <span class="bar-top"></span>
            <span class="bar-middle"></span>
            <span class="bar-bottom"></span>
        </div>
        <div class="row center-xs">
            <div class="mision">
                <div class="card-deck">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Rutinas</div>
                        <div class="card-body">
                            <h5 class="card-title">Levantamiento de pesas</h5>
                            <img src="{% static 'static/proyecto/img/Rutina1.jpg'%}" class="d-block w-100" alt="">
                            <p class="card-text">5 Consejos de levantamiento de pesas.</p>
                            <a href="#" class="btn btn-primary" id="Rutina1">Entrenar</a>
                        </div>
                    </div>
                    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                        <div class="card-header">Rutina</div>
                        <div class="card-body">
                            <h5 class="card-title">Sentadillas</h5>
                            <img src="{%static 'proyecto/img/Rutina2.jpg'%}" class="d-block w-100" alt="">
                            <p class="card-text">¿sabes como se deben hacer las sentadillas?</p>
                            <a href="#" class="btn btn-primary" id="rutinas2">Entrenar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay" id="overlay1">
            <div id='popup1' class="popup">
                <a href="#" class="popup__close" id="btn-cerrar-popup1">close</a>
                <div id='title'>
                    <h1>¿Cuanto aprendiste sobre rutinas de ejercicio?</h1>
                </div>
                <br />
                <div id='quiz'></div>
                <div id='next'><a href='#' class="btn btn-dark">Siguiente</a></div>
                <div id='prev'><a href='#' class="btn btn-dark">Anterior</a></div>
                <div id='start'> <a href='#' class="btn btn-dark" id="btn-cerrar-popup">Nuevo intento</a></div>
            </div>
            <div class="overlay" id="overlay2">
                <div class="popup" id="popup2">
                    <h1>
                        ¿Cuáles son las rutinas mas eficientes?</h1>
                    <img src="{%static 'proyecto/img/Rutina5.jpg'%}" alt="" class="d-block w-100">
                    <p id="ratefeld" class="rutina5"></p>
                    <form name="rateformular" class="rutina5">
                        <input name="ratezeichen" type="text" size="5" maxlength="1">
                        <input name="ratebutton" class="btn btn-secondary" type="button" value="Seleccionar"
                            onClick="pruefeZeichen()">
                        <p id="gerateneBuchstaben">Rutinas incorrectas:</p>
                        <input name="refresh" type="button" value="Salir" class="btn btn-secondary"
                            onClick="location.reload()">
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% endblock contenido %}