{%extends 'proyecto/plantilla_Rutinas.html'%}

{% load static %}
{% block contenido %}
<title>Eliminar Rutinas</title>
<div class="overlay-navigation">
    <nav role="navigation">
        <ul>
            <li><a href="{% url 'proyecto:inicioUsuario'%}">Inicio</a></li>
            <li><a href="{% url 'proyecto:listarUsuarios'%}">Usuarios</a></li>
            <li><a href="{% url 'proyecto:listarNutricionista'%}">Nutricionista</a></li>
            <li><a href="{% url 'proyecto:listarRutinas'%}">Cursos</a></li>
            <li><a href="{% url 'logout' %}">Salir</a></li>
        </ul>
    </nav>
</div>

<section class="home">
    <div class="open-overlay">
        <span class="bar-top"></span>
        <span class="bar-middle"></span>
        <span class="bar-bottom"></span>
    </div>
    <div class="row">
        <div class="mision">
            <form method="POST">
                {% csrf_token %}
                <h2>¿Desea Eliminar el registro {{object}}?</h2>
                <button class="btn btn-primary" type="submit">Eliminar</button>
                <a class="btn btn-primary" href="{% url 'proyecto:listarRutinas'%}">Cancelar</a>
            </form>

        </div>
    </div>

</section>

{% endblock contenido %}