@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);
.home {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../img/imagen3.jpg);
  background-size: cover;
  background-position: center center;
}
.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.8);
  transform: translateY(-100%);
}
.overlay-slide-down {
  transition: all .4s ease-in-out;
  transform: translateY(0)
}
.overlay-slide-up {
  transition: all .8s ease-in-out;
  transform: translateY(-100%)
}

nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  transform: translateY(-100%);
}
nav li a {
  position: relative;
  top: 46%;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Work sans', sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.9rem;
}
nav li a:before {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);
  opacity: 0;
  transition: all .2s linear;
}
nav li a:after {
  content: attr(data-content);
  font-size: 0.7rem;
  transition: all .2s linear;
  opacity: 0;
  position: absolute;
  z-index: 100;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: -50px;
  text-transform: none;
  font-family: 'Open sans', serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
}
nav li a:hover:before {
  transform: translateX(0);
  opacity: 1;
}
nav li a:hover:after {
  transform: translateY(15px);
  opacity: 1;
}
nav li:nth-of-type(1){background-color: #29363B}
nav li:nth-of-type(2){background-color: #EA495F}
nav li:nth-of-type(3){background-color: #F4837D}
nav li:nth-of-type(4){background-color: #FDCEA9}
nav li:nth-of-type(5){background-color: #99B998}
.slide-in-nav-item {
  animation: slide-in-nav-item 0.4s linear 1 .2s both;
}
.slide-in-nav-item-delay-1 {
  animation: slide-in-nav-item 0.4s linear 1 .4s both;
}
.slide-in-nav-item-delay-2 {
  animation: slide-in-nav-item 0.4s linear 1 .6s both;
}
.slide-in-nav-item-delay-3 {
  animation: slide-in-nav-item 0.4s linear 1 .8s both;
}
.slide-in-nav-item-delay-4 {
  animation: slide-in-nav-item 0.4s linear 1 1s both;
}
.slide-in-nav-item-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .5s both;
}
.slide-in-nav-item-delay-1-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .4s both;
}
.slide-in-nav-item-delay-2-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .3s both;
}
.slide-in-nav-item-delay-3-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .2s both;
}
.slide-in-nav-item-delay-4-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 both;
}
.open-overlay {
  position: absolute;
  right: 5rem;
  top: 3.2rem;
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;
}
.open-overlay span {
  display: block;
  height: 1px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px;
}
.animate-top-bar {
  animation: animate-top-bar .6s linear 1 both
}
.animate-bottom-bar {
  animation: animate-bottom-bar .6s linear 1 both
}
.animate-middle-bar {
  animation: animate-middle-bar .6s linear 1 both
}
.animate-out-top-bar {
  animation: animate-out-top-bar .6s linear 1 both
}
.animate-out-bottom-bar {
  animation: animate-out-bottom-bar .6s linear 1 both
}
.animate-out-middle-bar {
  animation: animate-out-middle-bar .6s linear 1 both
}
@keyframes slide-in-nav-item {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes slide-in-nav-item-reverse {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
}
@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}
@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}
@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  100% {
    background-color: #29363B;
  }
}
@keyframes animate-out-top-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363B
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}
@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}
@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B
  }
  80% {
    background-color: #29363B;
  }
  100% {
    background-color: #fff;
  }
}
.home a{
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 10;
  top:50px;
  left:50px;
  padding-bottom: 3px;
}
@media (max-width: 640px) {
  nav ul li a {
    font-size: 11px;
  }
  nav li a:after {
    font-size: 0.6rem;
  }
  .open-overlay {
    right: 1rem;
  }
  nav li a:before {
    width: 15px;
  }
}










 /*--------------------------------------Login------------------------------------*/
 body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.log-in {
  display: block;
  margin: auto;
  width: 100%;
  height:56px;
  margin-top:24px;
  border-radius:4px
}

.container.main-wrapper {
  max-width:768px;
  padding:0px 20px;
  height:100vh;
}

.content-wrapper {
  width:100%;
  align-self:center;
}

.page-title {
  margin-bottom:48px;
  font-weight:bold;
}

.form-control {
  background-color:#F9F7F7;
  height:56px;
  border:none;
  border-radius:4px;
  padding:0px 24px;
  margin-top:24px;
}

.form-control::placeholder {
  color:#AEAEAE;
}

.content-wrapper.login p {
  margin-top:24px;
}
.cover-img {
  border-radius: 50%;

}

.profile-pic{
  padding-top: 10px;


}
.profile-pic p{
  color: #EDE6E6;
}

.icon {
  align-items: center;

}

.Rectangle {
  color: black;
  width: auto;
  height: 248px;
  border-radius: 16px;
  background-color: #f9f7f7;
}

.Rectangle h3{
  padding-top: 16px;
  padding-left: 16px;
}

.Rectangle .friends{
  padding-top: 80px;
  background-color: #f9f7f7;
  width: auto;
  height: 120px;

}
.thm1{
  padding-left:20px;
}

p{
  color: rgb(0, 0, 0);
}

.carousel-indicators li{
  width: 10px;
  height: 10px;
  border: 5px;
  border-radius: 40px;
}
.carousel-control-next-icon{
  background-color: #100A30;
  border: 5px solid #100A30;
  border-radius: 40px;
}
.carousel-control-prev-icon {
  background-color: #100A30;
  border: 5px solid #100A30;
  border-radius: 40px;
}

.carousel-caption{
  left: 10px;
  right: 55%;
  text-align: left;
  color: #000000;
  font-weight: bold;
}

h1{
  font-family: 'Sigmar One', cursive;
}

h2{
  line-height: 100px;
  font-family: 'Sigmar One', cursive;
  color: #100A30
}
h5{
  color: #ecf0f1;
}

footer{
  background-color: lightgray;
  padding: 25px;
}
.altura{
  height: 450px;
  object-fit: cover;
  object-position: center;
}

p{
  color: #fff; 
  background-color: rgba(0, 0, 0, 0.6);
}

body{
  background-color:#e74c3c;
}
.main{
  background-color:rgb(45, 102, 54);

}
.header{
  background-color:rgb(53, 112, 63);
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
.centrar{
  text-align: center;
  
}
.texto-blanco{
  color:#ffffff;
}

.btn-bd-download{
  font-weight: 600;
  color: #ffffff;
  border-color:cornsilk;
}

ul{
  list-style: none;
  padding: 10px;
}

li{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
