@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

.main{
  background-color:rgb(43, 150, 61);

}
.header{
  background-color:rgb(10, 168, 63);
}
.img-fluid{
  max-width: 100%;
  height: auto;
  background-image: url(/Networks/static/proyecto/img/imagen3.jpg);
}
.centrar{
  text-align: center;
  
}
.texto-blanco{
  color:#77c032;
}

.btn-bd-download{
  font-weight: 600;
  color: #ffffff;
  border-color:rgb(187, 152, 15);
}

ul{
  list-style: none;
  padding: 10px;
}

li{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}



body {

    margin: 0;
  
    padding: 0;
  
    background: url(../img/imagen2.jpg) no-repeat center top;
  
    background-size: cover;
  
    font-family: sans-serif;
  
    height: 100vh;
  
  }
  
  .in{
   color: #000;
  }
  
  .login-box {

    margin-top: 80px;
  
    width: 320px;
  
    height: 500px;
  
    background:#39eb33;
  
    color: rgb(33, 199, 121);
  
    top: 50%;
  
    left: 50%;
  
    position: absolute;
  
    transform: translate(-50%, -50%);
  
    box-sizing: border-box;
  
    padding: 70px 30px;
  
  }
  
  
  
  .login-box .Networks {
    
    
    width: 100px;
  
    height: 100px;
  
    border-radius: 50%;
  
    position: absolute;
  
    top: -50px;
  
    left: calc(50% - 50px);
  
  }
  
  
  
  .login-box h1 {
  
    margin: 0;
  
    padding: 0 0 20px;
  
    text-align: center;
  
    font-size: 22px;
  
  }
  
  
  
  .login-box label {
  
    margin: 0;
  
    padding: 0;
  
    font-weight: bold;
  
    display: block;
  
  }
  
  
  
  .login-box input {
  
    width: 100%;
  
    margin-bottom: 20px;
  
  }
  

  
  .login-box input[type="email"], .login-box input[type="password"] ,.login-box input[type="text"]  {
  
    border: none;
  
    border-bottom: 1px solid rgb(52, 163, 29);
  
    background: transparent;
  
    outline: none;
  
    height: 40px;
  
    color: rgb(51, 179, 19);
  
    font-size: 16px;
  
  }
  
  
  

  .btn-2{
    border: none;
  
    outline: none;
  
    height: 40px;
  
    background: #0fb80f !important;
  
    color: #fff;
  
    font-size: 18px;
  
    border-radius: 20px;

    margin: auto !important;
  
  }
  .bar{
    width: 100%;
  
  }
  
  
  
  .login-box input[type="submit"]:hover {
  
    cursor: pointer;
  
    background: #07ffac;
  
    color: #000;
  
  }
  
  
  
  .login-box a {
  
    text-decoration: none;
  
    font-size: 12px;
  
    line-height: 20px;
  
    color: rgb(36, 173, 150);
  
  }
  
  
  
  .login-box a:hover {
  
    color: rgb(21, 145, 167);
  
  }